<!DOCTYPE html>
<html class="no-js"}>
<head>
<title>Luis Carlos Villaescusa</title>

 {% load staticfiles %}
<link href="../../static/css/styles.css" rel="stylesheet" type="text/css">


</head>

<body>
<center>
<div id="header">

	<ul id="main-menu">
    
    	<li><a href="#about">Acerca de mi</a></li>
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#connect">Contactame</a></li>
        
    </ul>
   
</div>
 </center>

<div id="container">

<!--Begin About Section-->
    <div id="about">
    	<center><h1>Luis Carlos Villaescusa Saldate</h1></center>
       
        <div class="top-divider"></div>
        <div class="content">
        	<img src="../../static/img/designer-photo.jpg" />
            <h2>¡Bienvenido!</h2>
            <p>Mi nombre es Luis Carlos, nací en Hermosillo, Sonora, México y tengo 22 años.
            Estudio la carrera de Ingeniería en Sistemas de la información en la Universidad de Sonora.
            Apasionado de la electronica y el arduino.
            </p> 
            <ul id="service-icons">
            	<li class="services-design">Design</li>
                <li class="services-mobile">Mobile</li>
                <li class="services-film">Film</li>
                <li class="services-photo">Photo</li>
            </ul>
        </div>
    
    </div>
<!--End About Section-->

<!--Begin Experience Section-->   
    <div id="experience">
    	<h1>Experiencia personal y laboral</h1>
        <div class="top-divider"></div>
        <div class="content">
            <div class="col">
            <h2>Hago codigo</h2>
           <img src="../../static/img/ifs.gif" />
            </div>
            
            <div class="col col-mid">
            <h2>Hago cosas de hardware</h2>
          <img src="../../static/img/ard.png" />
            </div>
            
            <div class="col">
            <h2>Doy asesoria de Software a otras carreras</h2>
             <img src="../../static/img/cry.jpg" />
            </div>
        </div>    
    </div>
<!--End Experience Section-->


<!--Begin Connect Section-->  
    <div id="connect">
    	<h1>Enviame un mensaje.</h1>
        <div class="top-divider"></div>
        	<div class="content">
             {% block content %}
            <center>
            	<div id="form">
                	<form method="POST" class="contact-form"> {% csrf_token %}
                    	<span>Nombre</span>
                        <input type="text" name="name" class="name" />
                        <span>Correo</span>
                        <input type="text" name="email" class="email"/>
                        <span>Mensaje</span>
                        <textarea class="message"></textarea>
                        <input type="submit" name="submite" value="Submit" class="submit">
                    </form>
                     {% endblock %}
                </div>
            </center>
            </div>
    </div>
<!--End Connect Section--> 

</div>


</body>
</html>
